*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
a.links{
  display: none;
}

.content{
  background-color: rgba(238, 238, 238, 0.342);
  width: 500px;
  margin: 0px auto;
  position: relative;
  border: 1px solid #33313270;
  border-radius: 3px;
}

h1{
  font-size: 43px;
  color: #faa61b;
  font-weight: bold;
  text-align: center;
  padding: ;
  border-bottom: 1px solid #faa61b;
  width: 65%;
  margin: 25px  auto;
}
.nome_cad,.email_cad,.btn_cad,.senha_cad{
  margin-top: 18px;
  
}
.btn_cad{
  background-color: #faa61b;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

input,label{
  border: none;
  text-decoration: none;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
input{
  height: 30px;
  border-radius: 3px;
  border: 0.5px solid#faa41b85;
}
label{
  position: relative;
  display: block;
  color: #333132;
}






#333132
#c41610
#faa61b
#f7ec32